@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
body{
font-family: 'Montserrat', sans-serif;
}

  .sidebar::-webkit-scrollbar {
      width: 5px;
      background-color: #ffffff;
     
  }

  .sidebar::-webkit-scrollbar-thumb {
      background: rgb(165, 161, 161);
      border-radius: 5px;
  }

@layer components{
    .icons{
        @apply h-6 w-6 text-gray-500
    }
}